div, span {
  width: 50px;
  height: 50px;
  /* margin: 20px; */
  margin-bottom: 20px;
  background: pink;
}

div {
  background: yellow;
  /* inline-block 블락요소 한줄 나열 가능 */
  /* display: inline-block; */
}

span {
  /* block:인라인요소에게 1줄1개로 */
  display: block;
}


.container {
  background: skyblue;
  left: 20px;
  top: 20px;
  
  /* css에서 position 기본값static */
  /* position: static; */
  
  /* static아니어야 위의 left,top적용 */
  position: relative;
}

.box {
  background: blue;
  left: 20px;
  top: 20px;
  
  /* 원래 자리에서 위 수치대로 옮기는 */
  /* position: relative; */
  
  /* 원래 자리 바로 윗자리의 원래자리에서 위만큼 이동 */
  /* position: absolute; */
  
  /* 윈도우 기준으로 위만큼 움직 */
  /* 스크롤 따라옴 */
  /* position: fixed; */
  
  /* 원래 자리에서 스크롤 따라옴 */
  position: sticky;

}


