:root {
  /* color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;
  
  /* size */
  --padding: 12px;
  --avatar-size: 36px;

  /* font size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--black-color);
  color: var(--white-color);
}

header .logo {
  font-size: var(--font-large);
  /* text-decoration: none; */
}

header .logo i {
  color: var(--red-color);
}

header .icons .fa-solid {
  margin-right: var(--padding);
}


/* video player */
.player {
  position: sticky;
  /* sticky만 쓰면 안됨. 어디 고정할지를 밑에 씀 */
  /* 화면 최상단(플레이어 시작된 위치 기준인가봄)에 고정됨 */
  top: 0;
  text-align: center;
  background-color: var(--black-color);
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

body > .info {
  padding: var(--padding);
}

.info .metadata .hashtags {
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
}

.info .metadata .hashtags li {
  margin-right: var(--padding);
}

.info .metadata .titleAndBtn  {
  display: flex;
}

.info .metadata .titleAndBtn .title {
  font-size: var(--font-medium);
  margin-right: var(--padding);
}

.info .metadata .titleAndBtn .title.clamp {
   /* 글 2줄 안넘어가게 하고 싶어서 line clamp(고정) 검색 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.info .metadata .titleAndBtn .moreBtn {
  /* 요소가 하나라서? 플박 안 쓰고 높이 자체를 바꿔버림 */
  height: 100%;
  transition: transform 300ms ease-in-out;
  background-color: var(--white-color);
}

.info .metadata .titleAndBtn .moreBtn.clicked {
  transform: rotate(180deg);
}

/* 왜 같은 수준에 있는 타&버튼은 선택자에 메타데이터 쓰고 이건 안 쓰지? */
.info .metadata .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

/* action btns */
.info .actions {
  display: flex;
  justify-content: space-around;
  /* 0은 왜 넣는거징 */
  margin: var(--padding) 0;
}

.info .actions button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  color: var(--grey-dark-color);
  background-color: var(--white-color);
}

.info .actions button i {
  /* 나 auto도 약함 */
  margin: 0 auto;
  margin-bottom: calc(var(--padding) / 2);
  font-size: 16px;
}

.info .actions button i .active {
  color:var(--blue-color);
}

/* channel description */
.info .channel {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
}

.info .channel .metadata {
  display: flex;
  align-items: center;
}
.info .channel .metadata .info {
  display: flex;
  flex-direction: column;
}
.info .channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.info .channel .metadata .info .name{
  font-size: var(--font-medium);
}

.info .channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.channel .subscribe {
  text-transform: uppercase;
  color: var(--red-color);
  font-size: var(--font-medium);
  background-color: #fff;
}


/* upnext */
.upNext {
  padding: var(--padding);
}

.upNext > .title {
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
  margin-bottom: calc(var(--padding) / 2);
}

.upNext .item {
  display: flex;
  margin-top: var(--padding);
}

.upNext .item .img {
  flex: 1 1 35%;
  margin-right: var(--padding);
}

.upNext .item .img img {
  width: 100%;
}

.upNext .item .info {
  flex: 1 1 60%;
}

.upNext .item .moreBtn {
  flex: 1 1 5%;
  background-color: #fff;
}

.upNext .item .moreBtn i {
  height: 100%;
}

.upNext .item .info {
  display: flex;
  flex-direction: column;
}

.upNext .item .info .title {
  font-size: var(--font-small);
}

.upNext .item .info .name,
.upNext .item .info .views {
  font-size: var(--font-micro);
  
}

.infoAndupNext {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .infoAndupNext {
    flex-direction: row;
    margin: var(--padding) 0;
  }
}